<nav class="nav nav-pills nav-fill flex-column align-items-center">
    <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/testing-logo-design-template-ce84480d61b3db9a8e1522a99875832f_screen.jpg?ts=1615794516" alt="" width="150" height="150">
    <a class="<%= page=="index" ? "nav-link active" : "nav-link" %>" <%= page=="index" ? "aria-current=page" : '' %> href="/administrator">Merchant Management</a>
    <a class="<%= page=="customer-management" ? "nav-link active" : "nav-link" %>" <%= page=="index" ? "aria-current=page" : '' %> href="/administrator/customer-management">Customer Management</a>
</nav>