<nav class="nav nav-pills nav-fill flex-column align-items-center">
    <img src="https://thumbs.dreamstime.com/b/food-delivery-logo-template-vector-icon-illustration-170869600.jpg" alt="" width="150" height="150">
    <a class="<%= page=="index" ? "nav-link active" : "nav-link" %>" <%= page=="index" ? "aria-current=page" : '' %> href="/administrator">Merchant Management</a>
    <a class="<%= page=="customer-management" ? "nav-link active" : "nav-link" %>" <%= page=="index" ? "aria-current=page" : '' %> href="/administrator/customer-management">Customer Management</a>
</nav>